In [1]:
import pandas as pd
import numpy as np

In [103]:
resultados= pd.read_csv('resultados.csv')

In [22]:
jugadores= pd.read_csv('jugadores.csv')

In [5]:
clasificacion=pd.read_csv('clasificacion.csv')

In [104]:
resultados.head(10)

,Jornada,fecha,Equipo local,Goles del Equipo Local,Goles del Equipo Visitante,Equipo visitante,Resultado_Local,Resultado_Visitante
0,1,2022-08-12,Osasuna,2,1,Sevilla,Ganado,Perdido
1,1,2022-08-13,Celta De Vigo,2,2,Espanyol,Empate,Empate
2,1,2022-08-13,Real Valladolid,0,3,Villarreal,Perdido,Ganado
3,1,2022-08-13,Barcelona,0,0,Rayo Vallecano,Empate,Empate
4,1,2022-08-14,Cadiz,0,1,Real Sociedad,Perdido,Ganado
5,1,2022-08-14,Valencia Cf,1,0,Girona,Ganado,Perdido
6,1,2022-08-14,Almeria,1,2,Real Madrid,Perdido,Ganado
7,1,2022-08-15,Athletic Club,0,0,Mallorca,Empate,Empate
8,1,2022-08-15,Getafe,0,3,Atletico De Madrid,Perdido,Ganado
9,1,2022-08-15,Real Betis,3,0,Elche,Ganado,Perdido

In [81]:
resultados['Resultado_Local'] = np.where(resultados['Goles del Equipo Local'] > resultados['Goles del Equipo Visitante'], 'Ganado', np.where(resultados['Goles del Equipo Local'] < resultados['Goles del Equipo Visitante'], 'Perdido', 'Empate'))
resultados['Resultado_Visitante'] = np.where(resultados['Goles del Equipo Local'] < resultados['Goles del Equipo Visitante'], 'Ganado', np.where(resultados['Goles del Equipo Local'] > resultados['Goles del Equipo Visitante'], 'Perdido', 'Empate'))

In [76]:
jugadores.head()

,Dorsal,Nombre jugador,Posicion,Equipo,goles,asistencias,goles_recibidos,paradas,tarejtas_amarillas,tarejtas_rojas,ID_equipo
0,25,Diego Fuoli,Portero,Almeria,0,0,0,0,0,0,17
1,1,Diego Marino,Portero,Almeria,0,0,2,3,0,0,17
2,13,Fernando Martinez,Portero,Almeria,0,0,61,133,3,0,17
3,1,Giorgi Makaridze,Portero,Almeria,0,0,0,0,0,0,17
4,2,Aitor Bunuel,Defensa,Almeria,0,0,0,0,0,0,17

In [23]:
jugadores = jugadores.rename(columns={'Data_Number': 'Dorsal', 'Data_Title': 'Nombre jugador',})

In [34]:
clasificacion.head(20)

,ID_equipo,Equipos,partidos jugados,partidos ganados,partidos empatados,partidos perdidos,goles a favor,goles en contra,total puntos
0,1,Barcelona,38,28,4,6,70,20,88
1,2,Real Madrid,38,24,6,8,75,36,78
2,3,Atletico De Madrid,38,23,8,7,70,33,77
3,4,Real Sociedad,38,21,8,9,51,35,71
4,5,Villarreal,38,19,7,12,59,40,64
5,6,Real Betis,38,17,9,12,46,41,60
6,7,Osasuna,38,15,8,15,37,42,53
7,8,Athletic Club,38,14,9,15,47,43,51
8,9,Mallorca,38,14,8,16,37,43,50
9,10,Girona,38,13,10,15,58,55,49
10,11,Rayo Vallecano,38,13,10,15,45,53,49
11,12,Sevilla,38,13,10,15,47,54,49
12,13,Celta De Vigo,38,11,10,17,43,53,43
13,14,Cadiz,38,10,12,16,30,53,42
14,15,Getafe,38,10,12,16,34,45,42
15,16,Valencia Cf,38,11,9,18,42,45,42
16,17,Almeria,38,11,8,19,49,65,41
17,18,Real Valladolid,38,11,7,20,33,63,40
18,19,Espanyol,38,8,13,17,52,69,37
19,20,Elche,38,5,10,23,30,67,25

In [18]:
clasificacion = clasificacion.rename(columns={'equipos': 'Equipo'})

In [70]:
clasificacion = clasificacion.rename(columns={'Equipos': 'Equipo'})

In [33]:
clasificacion = clasificacion.rename(columns={'Equipo': 'Equipos'})

In [59]:
jugadores['Equipo'] = jugadores['Equipo'].replace('Villareal', 'Villarreal')

# Mostrar el DataFrame resultante

In [60]:
equipo_id_mapping = dict(zip(clasificacion['Equipo'], clasificacion['ID_equipo']))

# Aplicar el mapeo a la columna 'Equipo' del DataFrame de jugadores
jugadores['ID_equipo'] = jugadores['Equipo'].map(equipo_id_mapping)

In [65]:
jugadores.head(250)

,Dorsal,Nombre jugador,Posicion,Equipo,goles,asistencias,goles_recibidos,paradas,tarejtas_amarillas,tarejtas_rojas,ID_equipo
0,25,Diego Fuoli,Portero,Almeria,0,0,0,0,0,0,17
1,1,Diego Marino,Portero,Almeria,0,0,2,3,0,0,17
2,13,Fernando Martinez,Portero,Almeria,0,0,61,133,3,0,17
3,1,Giorgi Makaridze,Portero,Almeria,0,0,0,0,0,0,17
4,2,Aitor Bunuel,Defensa,Almeria,0,0,0,0,0,0,17
...,...,...,...,...,...,...,...,...,...,...,...
245,33,Hugo Alvarez,Mediocentro,Celta De Vigo,0,0,0,0,0,0,13
246,14,Luca de la Torre,Mediocentro,Celta De Vigo,0,2,0,0,6,0,13
247,16,Miguel Baeza,Mediocentro,Celta De Vigo,0,0,0,0,0,0,13
248,5,Okay Yokuslu,Mediocentro,Celta De Vigo,0,0,0,0,0,0,13
249,18,Orbelin Pineda,Mediocentro,Celta De Vigo,0,0,0,0,0,0,13

In [64]:
jugadores['ID_equipo'] = jugadores['ID_equipo'].astype(int)

In [135]:
#clasificacion.to_csv('clasificacion.csv', index=False)

In [136]:
#resultados.to_csv('resultados.csv', index=False)

In [137]:
#jugadores.to_csv('jugadores.csv', index=False)

In [106]:
resultados.head()

,Jornada,fecha,Equipo local,ID_equipo_local,Goles del Equipo Local,Goles del Equipo Visitante,Equipo visitante,ID_equipo_visitante,Resultado_Local,Resultado_Visitante
0,1,2022-08-12,Osasuna,7,2,1,Sevilla,12,Ganado,Perdido
1,1,2022-08-13,Celta De Vigo,13,2,2,Espanyol,19,Empate,Empate
2,1,2022-08-13,Real Valladolid,18,0,3,Villarreal,5,Perdido,Ganado
3,1,2022-08-13,Barcelona,1,0,0,Rayo Vallecano,11,Empate,Empate
4,1,2022-08-14,Cadiz,14,0,1,Real Sociedad,4,Perdido,Ganado

In [105]:
resultados = pd.merge(resultados, clasificacion, left_on='Equipo local', right_on='Equipo', how='left')
resultados = resultados.rename(columns={'ID_equipo': 'ID_equipo_local'})

resultados = pd.merge(resultados, clasificacion, left_on='Equipo visitante', right_on='Equipo', how='left')
resultados = resultados.rename(columns={'ID_equipo': 'ID_equipo_visitante'})

# Conserva solo las columnas necesarias
resultados = resultados[['Jornada','fecha','Equipo local', 'ID_equipo_local',  'Goles del Equipo Local', 'Goles del Equipo Visitante', 'Equipo visitante', 'ID_equipo_visitante', 'Resultado_Local', 'Resultado_Visitante' ]]

In [99]:
resultados['ID_equipo_local'] = resultados.iloc[:, 0]

In [109]:
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_equipo           20 non-null     int64
 1   Equipo              20 non-null     object
 2   partidos jugados    20 non-null     int64
 3   partidos ganados    20 non-null     int64
 4   partidos empatados  20 non-null     int64
 5   partidos perdidos   20 non-null     int64
 6   goles a favor       20 non-null     int64
 7   goles en contra     20 non-null     int64
 8   total puntos        20 non-null     int64
dtypes: int64(8), object(1)
memory usage: 1.5+ KB

In [119]:
clasificacion.head()

,ID_equipo,Equipo,partidos jugados,partidos ganados,partidos empatados,partidos perdidos,goles a favor,goles en contra,total puntos
0,1,Barcelona,38,28,4,6,70,20,88
1,2,Real Madrid,38,24,6,8,75,36,78
2,3,Atletico De Madrid,38,23,8,7,70,33,77
3,4,Real Sociedad,38,21,8,9,51,35,71
4,5,Villarreal,38,19,7,12,59,40,64

In [114]:
resultados['fecha'] = pd.to_datetime(resultados['fecha'], format='%Y-%m-%d')

In [115]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Jornada                     380 non-null    int64
 1   fecha                       380 non-null    datetime64[ns]
 2   Equipo local                380 non-null    object
 3   ID_equipo_local             380 non-null    int64
 4   Goles del Equipo Local      380 non-null    int64
 5   Goles del Equipo Visitante  380 non-null    int64
 6   Equipo visitante            380 non-null    object
 7   ID_equipo_visitante         380 non-null    int64
 8   Resultado_Local             380 non-null    object
 9   Resultado_Visitante         380 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 29.8+ KB

In [116]:
resultados.head()

,Jornada,fecha,Equipo local,ID_equipo_local,Goles del Equipo Local,Goles del Equipo Visitante,Equipo visitante,ID_equipo_visitante,Resultado_Local,Resultado_Visitante
0,1,2022-08-12,Osasuna,7,2,1,Sevilla,12,Ganado,Perdido
1,1,2022-08-13,Celta De Vigo,13,2,2,Espanyol,19,Empate,Empate
2,1,2022-08-13,Real Valladolid,18,0,3,Villarreal,5,Perdido,Ganado
3,1,2022-08-13,Barcelona,1,0,0,Rayo Vallecano,11,Empate,Empate
4,1,2022-08-14,Cadiz,14,0,1,Real Sociedad,4,Perdido,Ganado

In [117]:
jugadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Dorsal              1046 non-null   object
 1   Nombre jugador      1046 non-null   object
 2   Posicion            1046 non-null   object
 3   Equipo              1046 non-null   object
 4   goles               1046 non-null   int64
 5   asistencias         1046 non-null   int64
 6   goles_recibidos     1046 non-null   int64
 7   paradas             1046 non-null   int64
 8   tarejtas_amarillas  1046 non-null   int64
 9   tarejtas_rojas      1046 non-null   int64
 10  ID_equipo           1046 non-null   int32
dtypes: int32(1), int64(6), object(4)
memory usage: 85.9+ KB

In [118]:
jugadores.head()

,Dorsal,Nombre jugador,Posicion,Equipo,goles,asistencias,goles_recibidos,paradas,tarejtas_amarillas,tarejtas_rojas,ID_equipo
0,25,Diego Fuoli,Portero,Almeria,0,0,0,0,0,0,17
1,1,Diego Marino,Portero,Almeria,0,0,2,3,0,0,17
2,13,Fernando Martinez,Portero,Almeria,0,0,61,133,3,0,17
3,1,Giorgi Makaridze,Portero,Almeria,0,0,0,0,0,0,17
4,2,Aitor Bunuel,Defensa,Almeria,0,0,0,0,0,0,17

In [120]:
nuevos_nombres= ['ID_equipo','Equipo','partidos_jugados','partidos_ganados','partidos_empatados','partidos_perdidos','goles_a_favor','goles_en_contra','total_puntos']

In [121]:
clasificacion.columns = nuevos_nombres

In [123]:
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_equipo           20 non-null     int64
 1   Equipo              20 non-null     object
 2   partidos_jugados    20 non-null     int64
 3   partidos_ganados    20 non-null     int64
 4   partidos_empatados  20 non-null     int64
 5   partidos_perdidos   20 non-null     int64
 6   goles_a_favor       20 non-null     int64
 7   goles_en_contra     20 non-null     int64
 8   total_puntos        20 non-null     int64
dtypes: int64(8), object(1)
memory usage: 1.5+ KB

In [122]:
clasificacion.head()

,ID_equipo,Equipo,partidos_jugados,partidos_ganados,partidos_empatados,partidos_perdidos,goles_a_favor,goles_en_contra,total_puntos
0,1,Barcelona,38,28,4,6,70,20,88
1,2,Real Madrid,38,24,6,8,75,36,78
2,3,Atletico De Madrid,38,23,8,7,70,33,77
3,4,Real Sociedad,38,21,8,9,51,35,71
4,5,Villarreal,38,19,7,12,59,40,64

In [124]:
nuevos_nombres= ['Jornada','fecha','Equipo_local','ID_equipo_local','Goles_del_Equipo_Local','Goles_del_Equipo_Visitante','Equipo_visitante','ID_equipo_visitante','Resultado_Local','Resultado_Visitante']

In [125]:
resultados.columns = nuevos_nombres

In [127]:
nuevo_orden= ['Jornada','fecha','Equipo_local','ID_equipo_local','Goles_del_Equipo_Local','Equipo_visitante','ID_equipo_visitante','Goles_del_Equipo_Visitante','Resultado_Local','Resultado_Visitante']

In [128]:
resultados = resultados[nuevo_orden]

In [129]:
resultados.head()

,Jornada,fecha,Equipo_local,ID_equipo_local,Goles_del_Equipo_Local,Equipo_visitante,ID_equipo_visitante,Goles_del_Equipo_Visitante,Resultado_Local,Resultado_Visitante
0,1,2022-08-12,Osasuna,7,2,Sevilla,12,1,Ganado,Perdido
1,1,2022-08-13,Celta De Vigo,13,2,Espanyol,19,2,Empate,Empate
2,1,2022-08-13,Real Valladolid,18,0,Villarreal,5,3,Perdido,Ganado
3,1,2022-08-13,Barcelona,1,0,Rayo Vallecano,11,0,Empate,Empate
4,1,2022-08-14,Cadiz,14,0,Real Sociedad,4,1,Perdido,Ganado

In [130]:
nuevos_nombres= ['Dorsal','Nombre_jugador','Posicion','Equipo','goles_marcados','asistencias','goles_recibidos','paradas','tarejtas_amarillas','tarejtas_rojas','ID_equipo']

In [131]:
jugadores.columns = nuevos_nombres

In [132]:
nuevo_orden= ['Nombre_jugador','Dorsal','Posicion','Equipo','ID_equipo','goles_marcados','asistencias','goles_recibidos','paradas','tarejtas_amarillas','tarejtas_rojas']

In [133]:
jugadores = jugadores[nuevo_orden]

In [134]:
jugadores.head()

,Nombre_jugador,Dorsal,Posicion,Equipo,ID_equipo,goles_marcados,asistencias,goles_recibidos,paradas,tarejtas_amarillas,tarejtas_rojas
0,Diego Fuoli,25,Portero,Almeria,17,0,0,0,0,0,0
1,Diego Marino,1,Portero,Almeria,17,0,0,2,3,0,0
2,Fernando Martinez,13,Portero,Almeria,17,0,0,61,133,3,0
3,Giorgi Makaridze,1,Portero,Almeria,17,0,0,0,0,0,0
4,Aitor Bunuel,2,Defensa,Almeria,17,0,0,0,0,0,0